[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lindia"]
	path = lindia
	url = https://github.com/yeukyul/lindia
	shallow = true
	registered = true
